processors/__pycache__/
resources/old/
resources/old/
resources/studentaid/.DS_Store
resources/studentaid/handbook/.DS_Store
.env
db/
openshift/wb-secret.yaml
taxonomy.tar.gz
taxonomy.zip
.DS_Store
venv/
temp/
.env
.summary_files/
HelloWorld.cfc
HelloWorldTest.cfc
datasets/Linux-APT-Dataset-2024/
old/
test.json
wb-secret.yaml
